body {
    background-color: lightgray;
    text-align: center;
    align-items: center;
}

.content {
    background-color: white;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 340px;
    margin-right: 340px;
    padding: 20px;
    height: 400px;
}
.img-align{
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.img-fb {
    float: left;
    width: 20px;
    display: block;
}

.profile-fb {
    text-transform: uppercase;
    font-family: Gasalt-Black;
    font-weight: bold;
    text-align: center;
}
.bio-fb {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.link-fb {
    color:#3b5998;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.link-fb:hover{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    background-color: #4c75ce;
}
@font-face {
    font-family: Gasalt-Black;
    src: url("../font/Gasalt-Black.ttf");
}
@font-face {
    font-family: Gasalt-Regular;
    src: url("../font/Gasalt-Regular.ttf");
}

